**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/TestResults
**/.dockerignore
**/.docker
**/.DS_Store
**/*.log
**/*.user
**/*.lock
docker-compose.yml
Dockerfile
.github
docs
examples
Makefile
SECURITY.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CHANGELOG.md
README.md
